<div class="ui divider"></div>
<table class="ui celled table">
  <tbody>
  <tr>
    <td>Blend ID</td>
    <td>{{blend.blendId}}</td>
  </tr>
  <tr>
    <td>Blend name</td>
    <td>{{blend.blendName}}</td>
  </tr>
  <tr>
    <td>Cost</td>
    <td>{{blend.cost}}</td>
  </tr>
  </tbody>
</table>

<div class="ui divider"></div>

<UiTabs class="ui segment">
  <div class="ui top attached tabular menu">
    <a class="item" data-tab="generic">generic space</a>
    <a class="item active" data-tab="blend">blend</a>
    <a class="item" data-tab="input1">input space 1</a>
    <a class="item" data-tab="input2">input space 2</a>
  </div>
  <div class="ui tab" data-tab="generic">
    <p>{{blend.formattedSpecs.genericSpace}}</p>
  </div>
  <div class="ui tab active" data-tab="blend">
    <p>{{blend.formattedSpecs.blend}}</p>
  </div>
  <div class="ui tab" data-tab="input1">
    <p>{{blend.formattedSpecs.input1}}</p>
  </div>
  <div class="ui tab" data-tab="input2">
    <p>{{blend.formattedSpecs.input2}}</p>
  </div>
</UiTabs>
