<div class="ui segment">
  <form class="ui form" {{action "refreshModel" on="submit"}}>
    <div class="field">
      <label>Input Concept</label>
      <Input @value={{this.concept}} @enter={{action "refreshModel"}} placeholder="Concept..."/>
    </div>
    <button class="ui button {{unless this.paramsAreValid 'disabled'}}" type="submit">Specify</button>
  </form>
</div>

{{#if this.model}}
  <div class="ui divider"></div>
  <a class="ui top attached button" href={{this.model.downloadUrl}} download="{{this.concept}}.casl">Save CASL</a>
  <div class="ui attached segment">
    <p>{{{this.model.htmlSpec}}}</p>
  </div>
{{/if}}

{{#if this.currentlyLoading}}
  <div class="ui active inverted dimmer">
    <div class="ui text loader">Extract and specify mental space...</div>
  </div>
{{/if}}